# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Variables de entorno locales
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
